<form class="user-auth" action=<%= user_url(@user) %> method="post">
  <h1>
    Edit Profile - 
    <%= link_to "Delete Account", user_url(@user), 'data-method' => :delete, 'data-confirm' => "Are you sure?", class: "delete"%>
  </h1>
  <% if flash[:errors] %>
    <p class="errors">
      <% flash[:errors].each do |error| %>
        <%= error %> <br>
      <% end %>
    </p>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <h3>
    <label for="display_name">
      Display Name:
      <input class="input" type="text" name=user[display_name] value="<%= @user.display_name %>" id="display_name">
    </label>
  </h3>
  <h3>
    <label for="color">
      Marker color:
      <input class="input" type="color" name=user[color] value="<%= @user.color %>" id="color">
    </label>
  </h3>
  <input class="button" type="submit" name="name" value="Submit Changes">
  <%= link_to "cancel", list_index_url %>
</form>
