<h1>Wall of Minor Obstacles</h1>

<h2>&lt;ul&gt;</h2>
<% User.ordered_list.each do |user| %>
  <h2 class="list-item" style="color:<%= user.color %>;">
    &lt;li&gt;
    <span class="name"><%= user.display_name == "" || !user.display_name ? user.username : user.display_name %>:</span>
    <% count = user.rejections %>
    <% if count == 0 %>
      0
    <% end %>
    <% if count != 0  && user == current_user%>
      <%= button_to "-", user_remove_r_url(user.id), method: :put, class: "add-remove" %>
    <% end %>
    <% while count >= 5  %>
      <%= image_tag "5tally.png", class: "tally", style:"background-color: #{user.color}"%>
      <% count -= 5 %>
    <% end %>
    <% tally_img = case count %>
      <% when 4 then "4tally.png" %>
      <% when 3 then "3tally.png" %>
      <% when 2 then "2tally.png" %>
      <% when 1 then "1tally.png" %>
    <% end %>
    <%= image_tag tally_img, class: "tally", style:"background-color: #{user.color}" %>
    <% if user == current_user %>
      <%= button_to "+", user_add_r_url(user.id), method: :put, class: "add-remove" %>
    <% end %>
    &lt;/li&gt;
  </h2>
<% end %>

<h2>&lt;/ul&gt;</h2>
